@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
    background-color: #3CB371;
}

#left-div-form {
    text-align: center;
    position: absolute;
    transform: translate(0%, 10%);
    padding-left: 40px;  
    color: blueviolet;
    font-family: 'Dongle', sans-serif;  
    font-weight:bold;
    font-size: 25px;
}

.face-form {
    /* position: absolute;
    transform: translate(-50%, 20%); */
    
    width: 200px;
    height: 200px;
    border-radius: 70%;
    object-fit: cover;
}

.face-form {
    -webkit-transition: width 1s, height 1s;
	transition: width 1s, height 1s;
}

.face-form:hover {
    width: 300px;
    height: 300px;
}

.left-table-form {
    align-items: center;
    text-align: center;
   
}

#story-form {
    text-align: center;
   
    transform: translate(0%, 350%)
}

#left-button-form {
    position:absolute;
    align-items: center;
    bottom:0;
}

/* rightHome1 */
#rightHome-body {
    background-image: url('../image/back.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 770px;
}


#my-div-form {
    text-align: left;
}

#my-div-form ul {
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color:chocolate
}

.b-form {
    /* display: block; */
    top: 0;
    float: right;
}

.custom-btn {
    width: 100px;
    height: 80px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    /* display: inline-block; */
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.b1:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow:inset 2px 2px 2px 0px 
    rgba(255,255,255,.5);
    transition: all 0.3s ease;
}

.b1 {
    background: rgb(255,151,0);
    border: none;
   z-index: 1;
}

.b1:hover {
    color: #000;
}

.b1:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

.b1:active {
    top: 2px;
}


.bcss {
    background-color: aqua;
    border-radius: 30px;
}